.ember-application {
    margin: 20px;
}

.active {
  font-weight: bold;
}

.row.step {
  padding-bottom: 1.5em;
}

#error-banner > p {
  padding: 0.75em;
}

/*
Adapted from: http://codepen.io/thathurtabit/pen/ymECf
*/
.progress-goboard {
  width: 100%;
  height: 5px;
}
.progress-wrap-goboard {
  background: #f80;
  margin: 2px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap-goboard > .progress-bar-goboard {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}
/***/

div.session.berserker {
  background-color: #dddddd;
  border-color: #e7e7e7;
  border-radius: 4px;
  border: 1px solid;
  margin-bottom: 12px;
}

div.session.berserker > p {
  margin-bottom: 0px;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
}

/* from http://tobiasahlin.com/spinkit/ */

.spinner {
  margin: 15px auto 0;  /* margin-top == padding-top on a .navbar-nav>li>a */
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #5e5e5e;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
